.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: var(--mantine-shadow-sm);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}
