.toggleContainer {
  display: flex;
  justify-content: center;
  margin-top: var(--mantine-spacing-xl);
}

.toggleButton {
  transition: all 0.2s ease;
}

.toggleButton.active {
  background-color: var(--mantine-primary-color-filled);
  color: var(--mantine-color-white);
}

.toggleButton.inactive {
  background-color: transparent;
  border-color: var(--mantine-primary-color-filled);
  color: var(--mantine-primary-color-filled);
}

.placeholder {
  height: 36px;
  display: flex;
  justify-content: center;
  margin-top: var(--mantine-spacing-xl);
}
